body {
    background-color: #FFFFCC;
    color: #330000;
    font-family: Verdana, Arial, sans-serif;
    background-image: url('images/background.gif')
}

h1 {
    background-color: #CCAA66;
    color: #000000;
    line-height: 200%;
    text-align: center;
    font-size: 0;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}

#navigation {
    text-align: center;
}

#footer {
    background-color: #ccaa66;
    color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}

#content {
    background-color: #ffffcc;
    /*width: 40%;*/
    text-align: center;
}
